<app-header class="__header" [showBack]="true"
  [title]="(character$ | async) && ((character$ | async).firstName + ' ' + (character$ | async).lastName)">
</app-header>

<section class="__content">

  <div class="__content-text">

    <!-- <h1>
      Detail Page
    </h1>

    <h2>
      Character ID
      <strong *ngIf="(character$ | async)">
        {{ (character$ | async).id }}
      </strong>
    </h2> -->

    <div style="width: 100%; height: 500px; background: white;">
      <as-split unit="percent" direction="horizontal">
        <as-split-area [size]="50">
          <div *ngFor="let customField of editFields;">
            <span class="fieldLabel">{{ customField.displayName }}:</span>
            <app-edit-input class="fieldValue"
              [fieldObj]="customField"
              [data]= "getFieldValue(customField, (character$ | async))"
              (focusOut)="saveData($event)"></app-edit-input>
          </div>

        </as-split-area>
        <as-split-area [size]="50">
          <div *ngFor="let customField of readFields;">
            <span class="fieldLabel">{{ customField.displayName }}:</span>
            <span class="fieldValue">{{ getFieldValue(customField, (character$ | async)) }}</span>
          </div>
        </as-split-area>
      </as-split>
    </div>

  </div>

</section>
