<app-header class="__header" [showBack]="true"
  [title]="(character$ | async) && ((character$ | async).firstName + ' ' + (character$ | async).lastName)">
</app-header>

<section class="__content">

  <div class="__content-text">

    <!-- <h1>
      Detail Page
    </h1>

    <h2>
      Character ID
      <strong *ngIf="(character$ | async)">
        {{ (character$ | async).id }}
      </strong>
    </h2> -->

    <div style="width: 100%; background: white;" class="height-max">
      <as-split unit="percent" direction="horizontal">
        <as-split-area [size]="50">
          <div class="splitterTop"></div>
          <div *ngFor="let customField of editFields;">
            <div class="readRow">
              <span class="fieldLabel">{{ customField.displayName }}:</span>
              <app-edit-input class="fieldValue"
                [fieldObj]="customField"
                [data]= "getFieldValue(customField, (character$ | async))"
                (focusOut)="saveData($event)"></app-edit-input>
            </div>
          </div>
        </as-split-area>
        <as-split-area [size]="50">
          <div class="splitterTop"></div>
          <div *ngFor="let customField of readFields;">
            <div class="readRow">
              <span class="fieldLabel">{{ customField.displayName }}:</span>
              <span class="fieldValue">{{ getReadFieldValue(customField, (character$ | async)) }}</span>
            </div>
          </div>
        </as-split-area>
      </as-split>
    </div>

  </div>

</section>
