

<!-- <input *ngIf='isTextEditMode()' (focusout)="onFocusOut()" (keydown.enter)='$event.target.blur()' [(ngModel)]='data' class='cellInput'
  appAutofocus type='text' (keydown.enter)='$event.target.blur()' (focusout)="editMode=false">

<input *ngIf='isNumberEditMode()' (focusout)="onFocusOut()" (keydown.enter)='$event.target.blur()' [(ngModel)]='data' class='cellInput'
  appAutofocus type='number' (keydown.enter)='$event.target.blur()' (focusout)="editMode=false">

  <input *ngIf='isNumberEditMode()' (focusout)="onFocusOut()" (keydown.enter)='$event.target.blur()' [(ngModel)]='data' class='cellInput'
  appAutofocus type='number' (keydown.enter)='$event.target.blur()' (focusout)="editMode=false">

  <select *ngIf='isSelectEditMode()' (focusout)="onFocusOut()" (keydown.enter)='$event.target.blur()' [(ngModel)]='data' class='cellInput'
  appAutofocus type='number' (keydown.enter)='$event.target.blur()' (focusout)="editMode=false">
    <option *ngFor="let option of fieldObj.options" [ngValue]="option">{{option.value}}</option>
  </select> -->

  <span *ngIf='isTextEditMode()' class="column-select-list field-filter hide-no-content-panel">
    <ng-select [items]="getOptions()" #selectEdit
        bindLabel="displayName"
        placeholder="{{data.displayName}}"
        multiple="false"
        [clearable]="false"
        [closeOnSelect]="false"
        [(ngModel)]="filterData">
        <ng-template ng-header-tmp>
            <div>
                <input style="width: 100%; line-height: 24px" type="text" [(ngModel)]="textValue"/>
            </div>
           
        </ng-template>
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <span class="ng-value-label"> 
                <a>
                    <span class="search-filter-label"></span> {{data.displayName}} 
                </a>
            </span>
        </ng-template>
         <ng-template ng-footer-tmp>
            <div class="pull-right search-button-bar">
                <button class="btn btn-default" (click)="cancelTextEdit($event, selectEdit)">Cancel</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-success" (click)="updateTextEdit($event, selectEdit)">Update</button>
              </div>
        </ng-template>
    </ng-select>
</span>


  <span *ngIf='isNumberEditMode()' class="column-select-list field-filter hide-no-content-panel">
    <ng-select [items]="getOptions()" #select
        bindLabel="displayName"
        placeholder="{{data.displayName}}"
        multiple="false"
        [clearable]="false"
        [closeOnSelect]="false"
        [(ngModel)]="filterData">
        <ng-template ng-header-tmp>
            <div>
                <span>Min: </span>
                <input style="width: 100%; line-height: 24px" type="number" [(ngModel)]="minValue" />
            </div>
            <div>
                <span>Max: </span>
                <input style="width: 100%; line-height: 24px" type="number" [(ngModel)]="maxValue"/>
            </div>
           
        </ng-template>
        
         <ng-template ng-footer-tmp>
            <div class="pull-right search-button-bar">
                <button class="btn btn-default" (click)="cancel($event, select)">Cancel</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-success" (click)="update($event, select)">Update</button>
              </div>
        </ng-template>
    </ng-select>
</span>

  <span *ngIf='isSelectEditMode()' class="column-select-list field-filter">
    <ng-select [items]="data.options" #filtercolumn
        bindLabel="displayName"
        placeholder="{{data.displayName}}"
        multiple="true"
        [clearable]="false"
        [closeOnSelect]="false"
        [(ngModel)]="filterData">
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" (change)="selectChanged($event)"/> {{item.value}}
        </ng-template>
        <ng-template ng-header-tmp>
            <input style="width: 100%; line-height: 24px" type="text" (input)="filtercolumn.filter($event.target.value)" />
        </ng-template>
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <span class="ng-value-label"> 
                <a>
                    <span class="search-filter-label"></span> {{data.displayName}} [{{items.length}}]
                </a>
            </span>
        </ng-template>
    </ng-select>
</span>



