<div *ngIf='!editMode' (click)='editMode=true' class='cell'> {{ getData()}}</div>

<input *ngIf='isTextEditMode()' (focusout)="onFocusOut()" (keydown.enter)='$event.target.blur()' [(ngModel)]='data' class='cellInput'
  appAutofocus type='text' (keydown.enter)='$event.target.blur()' (focusout)="editMode=false">

<input *ngIf='isNumberEditMode()' (focusout)="onFocusOut()" (keydown.enter)='$event.target.blur()' [(ngModel)]='data' class='cellInput'
  appAutofocus type='number' (keydown.enter)='$event.target.blur()' (focusout)="editMode=false">

  <select *ngIf='isSelectEditMode()' (focusout)="onFocusOut()" (keydown.enter)='$event.target.blur()' [(ngModel)]='selectData' class='cellInput'
  appAutofocus  (keydown.enter)='$event.target.blur()' (focusout)="editMode=false">
    <option *ngFor="let option of fieldObj.options" [ngValue]="option">{{option.value}}</option>
  </select>

