/* You can add global styles to this file, and also import other style files */

@import './styles/colors';
@import './styles/_resets';
@import './styles/_variables';
@import './styles/mixins';

@import "~@ng-select/ng-select/themes/default.theme.css";

.container {
    width: 100%;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    margin-top: 3px;
  }

.display-type {
    margin-right:0px !important;
}

.hide-no-content-panel .ng-dropdown-panel .scroll-host {
    display: none;
}
  

.col-md-10 {
    width: 100%;
}
