.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  background-color: #777777;
  border-color: #777777;
}

.pagination a {
    cursor: pointer;
}

.pagination>li>a {
  color: #777777;
}

.pagination>.active>a {
  color: #FFFFFF;
}